extends blank

block content
	#main
		h1.ui-widget-header.ui-corner-all FantEdu
		.column.left-column
			.portlet
				.portlet-header Activity Feed
				.portlet-content icon similar function to Facebook globe that has a number next to it with each notification
					ol
						li Running feed that displays bonuses and badges earned (both individual and team)
			.portlet
				.portlet-header Badges
				.portlet-content awards given to students for a achieving a challenge over a period of time. Some will be visible challenges; others will be unknown with a question mark, only showing the name of the badge. There will be a “trophy case” area on the application for this information. It will have two sections:
					ol
						li Badges not yet earned – this will show an array of badges split into individual and team categories. All unearned badges, except secret badges, will have the badge picture displayed in gray. Players can click on the grey badges and a small dialogue box will appear with a short description on how to earn the badge. The secret badges will have a question mark instead of a badge picture and cannot be clicked on for more information.
						li Badges earned – Divided into individual awards and team awards. The badges will be in full color, and students can still click on them for information on how they earned them.
		.column.mid-column
			.portlet
				.portlet-header Scoreboard
				.portlet-content this shows the team score vs. the other team’s score
					ol
						li Below it shows the student’s own contribution to the team total and a breakdown of how they earned the points.
			.portlet
				.portlet-header Standing
				.portlet-content
					ol
						li Shows the status of all games in the league that week
							ul
								li The record of the teams is displayed in parenthesis below the team name
						li Can click on team and see their history of games vs. other teams and the people on the team
		.column.right-column
			.portlet
				.portlet-header Message Board
				.portlet-content icon similar function to Facebook message that has a number next to it with each notification
					ol
						li 1. allows students and coaches to interact
						li Students will be able to create messages that allow response from other teammates
						li Mentor button to speak privately with mentor (aim chat discussion style)