extends blank

block content
	#main
		h1.ui-widget-header.ui-corner-all FantEdu
		.column.left-column
			.portlet
				.portlet-header 
				.portlet-content
					ul
						li Team1
						li Team2
						li Team3
			.portlet
				.portlet-header Behaviors
				.portlet-content
					ul
						li Homework
						li Attendance
						li Quizzes/Tests
						li Extracurriculars
						li Participation
		.column.mid-column
			.portlet
				.portlet-header Progress
				.portlet-content Some charts may go here
		.column.right-column
			.portlet
				.portlet-header header
				.portlet-content content
			.portlet
				.portlet-header Team Chat
				.portlet-content Hello world!