#feed(data-role="page")
	div(data-id="header", data-role="header", data-position="fixed")
		a(href="#home", data-icon="home") Home
		h1 Fantasy Ed
		a(href="#feed-chat", data-icon="bars") Mail
		div(data-role="navbar")
			ul
				li
					a.ui-btn-active.ui-state-persist(href="#feed") Team
				li
					a(href="#feed-friends") Friends
				li
					a(href="#feed-chat") Chat
	div(data-role="content")
		ul(data-role="listview")
			li
				img(src="img/badges/badge1.png")
				h2 Matthew just got a Silver Pen badge
				p Perfect homework all classes for two weeks
			li
				img(src="img/badges/badge2.png")
				h2 Ashcon just got a Bronze Calendar badge
				p Perfect attendance for a month
	div(data-id="footer", data-role="footer", data-position="fixed")
		div(data-role="navbar")
			ul
				li
					a(href="#scoreboard", data-icon="grid") Scoreboard
				li
					a(href="#team", data-icon="grid") Team
				li
					a.ui-btn-active.ui-state-persist(href="#feed", data-icon="grid") Feed
				li
					a(href="#leaderboard", data-icon="grid") Leaderboard