#profile(data-role="page")
	div(data-id="header", data-role="header", data-position="fixed")
		a(href="#home", data-icon="home") Home
		h1 Fantasy Ed
		a(href="#feed-chat", data-icon="bars") Mail
	div(data-role="content")
		a(data-role="button", href="#badges") Badges
	div(data-id="footer", data-role="footer", data-position="fixed")
		span.ui-title