#scoreboard-league(data-role="page")
	div(data-id="header", data-role="header", data-position="fixed")
		a(href="#home", data-icon="home") Home
		h1 Fantasy Ed
		a(href="#feed-chat", data-icon="bars") Mail
		div(data-role="navbar")
			ul
				li
					a(href="#scoreboard") Team
				li
					a.ui-btn-active.ui-state-persist(href="#scoreboard-league") League
				li
					a(href="#scoreboard-standing") Standings
	div(data-role="content")
		fieldset.ui-grid-a
			div.ui-block-a
				button(type="submit")
					ui-grid-a
						.ui-block-a
							img(src="img/team/wild_life/panda.png", width="16", height="16") 
							span  Panda
						.ui-block-b 30
					ui-grid-a
						.ui-block-a
							img(src="img/team/wild_life/koala.png", width="16", height="16") 
							span  Koala
						.ui-block-b 30
			div.ui-block-b
				button(type="submit")
					ui-grid-a
						.ui-block-a
							img(src="img/team/wild_life/panda.png", width="16", height="16") 
							span  Panda
						.ui-block-b 30
					ui-grid-a
						.ui-block-a
							img(src="img/team/wild_life/koala.png", width="16", height="16") 
							span  Koala
						.ui-block-b 30
			div.ui-block-a
				button(type="submit")
					ui-grid-a
						.ui-block-a
							img(src="img/team/wild_life/panda.png", width="16", height="16") 
							span  Panda
						.ui-block-b 30
					ui-grid-a
						.ui-block-a
							img(src="img/team/wild_life/koala.png", width="16", height="16") 
							span  Koala
						.ui-block-b 30
	div(data-id="footer", data-role="footer", data-position="fixed")
		div(data-role="navbar")
			ul
				li
					a.ui-btn-active.ui-state-persist(href="#scoreboard", data-icon="grid") Scoreboard
				li
					a(href="#team", data-icon="grid") Team
				li
					a(href="#feed", data-icon="grid") Feed
				li
					a(href="#leaderboard", data-icon="grid") Leaderboard